# System files
.DS_Store
.AppleDouble
.LSOverride
*.swp
*.swo
*~
.Trash/

# IDE
.vscode/
.idea/
*.sublime-workspace

# Environment
.env
.venv
env/

# OS specific
Thumbs.db
Desktop.ini

# Ignore parent directory files
../.BrowserLock/
../.CFUserTextEncoding
../.aws/
../.bash_profile
../.cache/
../.codegpt/
../.config/
../.cups/
../.docker/
../.gitconfig
../.lesshst
../.local/
../.matplotlib/
../.nuget/
../.redhat/
../.swiftpm/
../.vcpkg/
../.zprofile
../.zsh_history
../.zsh_sessions/
